@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .h1 {
    @apply text-3xl font-medium my-2 leading-[3rem]
  }

  .button {
    @apply py-3 px-5 border-2 font-bold text-center rounded-md hover:border-orange-600 duration-300
  }

  .input {
    @apply w-full h-[60px] py-2 px-3 rounded-md border bg-transparent border-gray-400 focus:outline-yellow-800
  }

  .text {
    @apply px-10 md:px-20 text-center
  }

  .text h4 {
    @apply text-2xl font-medium my-3
  }

  .acordionWrapper {
    @apply py-4 flex justify-between flex-wrap flex-col border rounded-md
  }

  .acordion {
    @apply w-full md:w-[85%] mt-5 m-auto py-5 px-4 border rounded-sm
  }

  .acordionBtn {
    @apply w-full border p-2 flex items-center justify-between
  }

  .acordionText {
    @apply p-2 bg-gray-100
  }

  .orderFormWrapper {
    @apply min-h-[100vh] px-10 py-20 bg-gray-100 flex justify-between flex-wrap
  }


  .orderForm {
    @apply w-full md:w-[65%] bg-gray-50 p-5
  }


  .cartWrapper {
    @apply w-full md:w-[32%]
  }

  /*  dashboard start */
  .nav {
    @apply flex items-center justify-center flex-col gap-5
  }

  .nav a {
    @apply capitalize font-medium text-[16px] inline-block w-full py-3 px-2 duration-200 bg-gray-300 text-center rounded-md
  }

  /* .sidebar{
  @apply bg-gray-200
} */
  .formSection {
    @apply p-2 my-4 border
  }

  .formWrapper {
    @apply py-5 px-3 my-5 bg-gray-100 rounded-md
  }

  .formGroup {
    @apply flex items-center justify-between flex-wrap my-4
  }

  textarea {
    @apply h-[100px]
  }

  /*  dashboard end */

  /*  demo page start */
  .headerArea {
    @apply w-full h-[85vh] bg-blue-400 flex items-center justify-center flex-col
  }

  /*  demo page end */

  /*  test css delete after end */
  .test{
    @apply bg-gray-400 flex items-center justify-center
  }

}


@layer base {
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  .dashboardMain {
    background-image: url("./assets/images/cool-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-attachment: scroll;
    background-size: cover;
  }

  .wavBg {
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-color: #fcb900b0;
  }

  .loginBg {
    background-image: url("../src/assets/images/loginBg.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e9b8e914;
  }

  /* .formSection {
    background-image: linear-gradient(-225deg, #ffffff 0%, #ffe6fa65 100%);
} */

}